<div id="About" style="width: 100%" class="tabcontent">
  <div class="container">
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
    </nav>
  <p style="color: black; font-size: 25px">At Vacation Planner, we believe travel can – and must – be a force for good. This positive impact starts long before your vacation begins. Our print brochures are produced from 100% recycled fiber, contributing to the conservation of resources and the environment. Both in our offices, and on our tours, we are eliminating single use plastics. When you book with us, you will receive your documents electronically. Thanks to traveling paper free, you’re supporting our sustainability efforts to reduce our environmental impact wherever possible.</p>
  <p style="color: black; font-size: 25px"> Vacation Planner is a founding member of the TreadRight Foundation, a joint initiative created by the brands within The Travel Corporation (TTC) almost 15 years ago to ensure our impact through tourism is positive. Our ethos to #MakeTravelMatter guides our decision-making at every level of our business.</p>
  <p style="color: black; font-size: 25px;">This is the project developed by UMKC students for cloud computing class.</p>
</div>
