   <div class="container">
    <nav>
      <img src="../../assets/images/logoorange.png" height="80px" width="80px" class="logo" alt="">
      <br>
      <h4 style="color: orange; font-family: Apple Chancery, cursive;">Vacation Planner</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
    </nav>
    <div>
      <h1 style="font-weight: bold; font-family: Apple Chancery, cursive;">Beautiful <br> Places to Explore..</h1>
      <p style="font-size: 25px; font-family: Apple Chancery, cursive; font-weight: 800;">Close your eyes and imagine being in a place you’ve always wanted to visit. What if you could make that dream a reality? Knowing how to plan and use travel websites can help make a dream trip possible.</p>
      <form>
        <div class="row g-3">
          <div class="col">
        <input type="text" class="form-control" placeholder="Country name"> 
      </div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="destination" [ngModelOptions]="{standalone: true}"placeholder="City">
      </div>
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="numberOfDays" [ngModelOptions]="{standalone: true}"placeholder="Number of Days">
        </div>
      </div>
        <br><br> 

        <button href = "#table" type="submit" class="btn" (click)="vacationDetails()">Search</button>
      </form>
    </div>
    <br>
      <div *ngIf = "showTable" class="container">
        <table style="background-color: Lightblue" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th style="color: black">Day</th>
            <th style="color: black">Time</th>
            <th style="color: black">Activities</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let vacationPlan of vactionPlans">
            <td><span>{{vacationPlan.day}}</span></td>
            <td><span>{{vacationPlan.time}}</span></td>
            <td><span>{{vacationPlan.description}}</span></td>
          </tbody>
        </table>
    </div>
   </div>
