*{

  font-family: 'Roboto', sans-serif;
}
html{
  scroll-padding-top:3rem;
  scroll-behavior: smooth;
}
.container{
  background-image: url('/frontEnd/src/assets/images/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100vh
}
nav{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

nav ul{
  list-style: none;
  width:100%;
  text-align: right;
  padding-right: 60px;
}
nav ul li{
  display: inline-block;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
.btn{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #f58616;
  color:#fff;
  font-weight: 500;
  cursor: pointer;
}
.btn img{

width: 20px;
margin-right: 10px;
}
.content{
  margin-top: 14%;
  color: #fff;
  max-width: 620px;
}
.content h1{
  font-size: 100px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
}

.content form{
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;

}
.content from input{
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
}
.content form .btn{
  font-size: 15px;
  padding: 5px 30px;
}


