   <div class="container">
    <nav>
      <img src="../../assets/images/logoorange.png" height="80px" width="80px" class="logo" alt="">
      <br>
      <h4 style="color: orange; font-family: Apple Chancery, cursive;">Vacation Planner</h4>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
    </nav>
    <div class="content">
      <h1 style="font-family: Apple Chancery, cursive; ">Beautiful <br> Places to Explore..</h1>
      <p style="font-family: Apple Chancery, cursive; font-size: 20px;">Close your eyes and imagine being in a place you’ve always wanted to visit. What if you could make that dream a reality? Knowing how to plan and use travel websites can help make a dream trip possible.</p>
      <form>
        <input type="text" placeholder="Country name">
        <input type="text" [(ngModel)]="destination" [ngModelOptions]="{standalone: true}"placeholder="Destination">
        <input type="text" [(ngModel)]="numberOfDays" [ngModelOptions]="{standalone: true}"placeholder="Number of Days">
        <button type="submit" class="btn" (click)="vacationDetails()">Search</button>
        <!-- <div class="container">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>ID</th>
              <th>Firstname</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacationPlan of vacationPlans">
              <td><span>{{vacationPlan.day}}</span></td>
            </tr>
            </tbody>
          </table>
        </div> -->
      </form>
    </div>
   </div>
