<div id="Contact" style="width: 100%" class="tabcontent">
  <div class="container">
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/login">Logout</a></li>
    </ul>
  </nav>
  <p style="color: black; font-size: 25px">Thank you for your interest in Vacation Planner Business. Please reach out to below members for any questions</p>
    <div class="team" id="team">
      <h4>Our Team</h4>
      <div class="mem">
         <div class="memname">
          <div class="memleft">
             <img src="../../assets/images/icon.svg" alt=""/>
          </div>
            <div class="memright">
            <p>Hema Nagini Matta</p>
            <p class="id">Id: 16347557</p>
            <p class="id">nszm8@umsystem.edu</p>
          </div>
         </div>
         <div class="memname">
          <div class="memleft">
              <img src="../../assets/images/icon.svg" alt=""/>
          </div>
            <div class="memright">
            <p>Samar Reddy Kota</p>
            <p class="id">Id: 16336264</p>
            <p class="id">nszm8@umsystem.edu</p>
          </div>
         </div>
         <div class="memname">
          <div class="memleft">
              <img src="../../assets/images/icon.svg" alt=""/>
          </div>
            <div class="memright">
            <p>Nikhitha Sadanala</p>
            <p class="id">Id: 16335566</p>
            <p class="id">nszm8@umsystem.edu</p>
          </div>
         </div>
         <div class="memname">
          <div class="memleft">
              <img src="../../assets/images/icon.svg" alt=""/>
          </div>
            <div class="memright">
            <p>Susmitha kolla</p>
            <p class="id">Id : 16330355</p>
            <p class="id">nszm8@umsystem.edu</p>
          </div>
         </div>    
      </div>
     </div>
</div>




