<div id="Contact" style="width: 100%" class="tabcontent">
  <div class="container">
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact Us</a></li>
      <li><a routerLink="/login">Logout</a></li>
    </ul>
  </nav>
  <p style="color: white; font-size: 25px">Thank you for your interest in Vacation Planner Business
    We look forward to providing you outstanding Customer Service. Tell us a little more about your Company's Travel Program so that we can serve you best.

    Please send an email the concern & information to below email and we will be in touch with you within 24-48 business hours</p>
    <p style="color: white;font-size: 20px;">nikhitha886@gmail.com</p>

</div>




