<div [ngStyle]="{backgroundImage:'url(/frontEnd/src/assets/images/logo.png) '}" ></div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    <div class = "card">
    <div class="text_center">
    <h1>Login</h1>
    <h6>Please enter Email & Password</h6>
    </div>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </form>
    <a type=" margin-top: 10px" routerLink="/register">New User? Click here to register!!</a>
    </div>
    <br>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</div>




