<div [ngStyle]="{backgroundImage:'url(../../image.png) '}" ></div>
<br>
<div class="container mt-4" >
  <div class="card">
          <h1>User Registation</h1>
  <form>
      <div class="form-group">
        <label>First Name</label>
        <input type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" >
      </div>

      <div class="form-group">
          <label>Last Name</label>
          <input type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" class="form-control" id="stname" >
        </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="course" >
      </div>

      <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="fee" >
        </div>

      <button type="submit" class="btn btn-primary mt-4" routerLink="/login" (click)="save()" >Register</button>

    </form>
    <a style="color: white; margin-top: 10px" routerLink="/login">Already registered? Click here to login!!</a>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>





